<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Projects</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/admin/projects/create-new" class="btn btn-sm btn-outline-secondary">Create Project</a>
                
                
                <a href="/admin/projects/delete/{{project.alias}}" class="btn btn-sm btn-outline-secondary">Delete</a>

            </div>
            <a href="/admin/projects/{{project.alias}}/upload-demo" class="btn btn-sm btn-outline-secondary">
                Upload Demo
            </a>
        </div>
    </div>



    <form action="/admin/projects/update/{{project.alias}}" method="post">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input type="text" name="name" class="form-control" value="{{project.name}}" placeholder="Project Name">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">alias</label>
                    <input type="text" name="alias" class="form-control" placeholder="alias" value="{{project.alias}}" disabled>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Github Link</label>
                    <input type="text" name="githubUrl" class="form-control" placeholder="Github Link" value="{{project.githubUrl}}">
                </div>
            </div>
            


            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Tags</label>
                    <input type="text" name="tags" class="form-control"  placeholder="Tags" value="{{#each project.tags}}{{this.name}},{{/each}}">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Description</label>
                    <input type="text" name="description" class="form-control" placeholder="Description" value="{{project.description}}">
                </div>
            </div>
            <div class="col-6">

                {{#if project.image}}
                    <img src="{{project.image}}" alt="{{project.alias}}">
                {{else}}
                    <a href="/admin/projects/{{project.alias}}/upload">Change Cover Photo</a>
                {{/if}}
            </div>

            <div class="col-6">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>

        </div>
    </form>


</main>